@import "../../styles/colours";
@import "../../styles/typography";

.avatar-list {
	display: flex;
	align-items: center;
}

.avatar-list-item {
	width: fit-content;
	height: fit-content;
	position: relative;
	margin-right: -8px;
	border: 2px solid white;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.avatar-list-item:hover {
	border: 2px solid $AvatarHover;
	scale: 1.1;
}

.circ {
	border-radius: 50%;
}

.rounded {
	border-radius: $BorderRadius;
}

.square {
	border-radius: 0;
}
