@import "../../styles/colours";
@import "../../styles/typography";

.button {
	border: none;
	border-radius: $BorderRadius;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	text-transform: $fontUppercase;
	font-weight: 500;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;

	&.primary,
	&.secondary {
		&.contained:disabled {
			pointer-events: none;
			background-color: $ActionDisabledBackground;
			color: $ActionDisabled;
		}
		&.outlined:disabled {
			pointer-events: none;
			border-color: $ActionDisabledBackground;
			color: $ActionDisabled;
		}
		&.text:disabled {
			pointer-events: none;
			color: $ActionDisabled;
		}
	}

	&.small {
		font-size: $fontSizeButtonSmall;
		padding: 4px 10px;
		min-width: 61px;
		height: 30px;
	}

	&.medium {
		font-size: $fontSizeButtonMedium;
		padding: 6px 16px;
		min-width: 75px;
		height: 36px;
	}

	&.large {
		font-size: $fontSizeButtonLarge;
		padding: 8px 22px;
		min-width: 91px;
		height: 42px;
	}

	&.primary {
		&.contained {
			background-color: $PrimaryMain;
			color: $PrimaryContrastText;

			&:hover {
				background-color: $PrimaryDark;
			}

			&:focus-visible,
			&:active {
				background-color: $PrimaryLight;
				outline: none;
			}
		}

		&.outlined {
			background-color: transparent;
			border: 1px solid $PrimaryOutlinedBorder;
			color: $PrimaryMain;

			&:hover {
				background-color: $PrimaryHover;
			}
			&:focus-visible,
			&:active {
				background-color: $PrimaryFocusVisible;
				outline: none;
			}
		}

		&.text {
			background-color: transparent;
			color: $PrimaryMain;

			&:hover {
				background-color: $PrimaryHover;
			}
			&:focus-visible,
			&:active {
				background-color: $PrimaryFocusVisible;
				outline: none;
			}
		}
	}

	&.secondary {
		&.contained {
			background-color: $SecondaryMain;
			color: $SecondaryContrastText;

			&:hover {
				background-color: $SecondaryDark;
			}

			&:focus-visible,
			&:active {
				background-color: $SecondaryLight;
				outline: none;
			}
		}

		&.outlined {
			background-color: transparent;
			border: 1px solid $SecondaryOutlinedBorder;
			color: $SecondaryMain;

			&:hover {
				background-color: $SecondaryHover;
			}
			&:focus-visible,
			&:active {
				background-color: $SecondaryFocusVisible;
				outline: none;
			}
		}

		&.text {
			background-color: transparent;
			color: $SecondaryMain;

			&:hover {
				background-color: $SecondaryHover;
			}
			&:focus-visible,
			&:active {
				background-color: $SecondaryFocusVisible;
				outline: none;
			}
		}
	}

	&.error {
		background-color: #dc3545;
		color: $TextPrimary;

		&:hover {
			background-color: #c82333;
		}
	}
}
