@import "../../styles/colours";
@import "../../styles/typography";

.button {
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: $fontUppercase;

  &.small {
    font-size: $fontSizeButtonSmall;
    padding: 4px 10px;
    min-width: 61px;
    height: 30px;
  }

  &.medium {
    font-size: $fontSizeButtonMedium;
    padding: 6px 16px;
    min-width: 75px;
    height: 36px;
  }

  &.large {
    font-size: $fontSizeButtonLarge;
    padding: 8px 22px;
    min-width: 91px;
    height: 42px;
  }

  &.primary {
    &.contained {
      background-color: $PrimaryMain;
      color: $PrimaryContrastText;

      &:hover {
        background-color: $PrimaryDark;
      }

      &:focus,
      &:active {
        background-color: $PrimaryLight;
      }
    }

    &.outlined {
      background-color: transparent;
      color: red;

      &:hover {
        background-color: $PrimaryHover;
      }
    }
    &.text {
      background-color: transparent;
      color: $PrimaryMain;

      &:hover {
        background-color: $PrimaryHover;
      }
    }
  }

  &.secondary {
    background-color: #6c757d;
    color: $TextPrimary;

    &:hover {
      background-color: #5a6268;
    }
  }

  &.danger {
    background-color: #dc3545;
    color: $TextPrimary;

    &:hover {
      background-color: #c82333;
    }
  }
}
