// Font Size Variables
$fontSizeh1: 96px;
$fontSizeh2: 60px;
$fontSizeh3: 48px;
$fontSizeh4: 34px;
$fontSizeh5: 24px;
$fontSizeh6: 20px;
$fontSizeSubtitle1: 16px;
$fontSizeSubtitle2: 14px;
$fontSizeBody1: 16px;
$fontSizeBody2: 14px;
$fontCaption: 12px;
$fontOverline: 12px;
$fontUppercase: uppercase;

// Button Font Sizes
$fontSizeButtonLarge: 15px;
$fontSizeButtonMedium: 14px;
$fontSizeButtonSmall: 13px;
