@import "../../styles/colours";
@import "../../styles/typography";
/*
.BottomNavButton {
	background-color: transparent;
	border: none;
	width: 24px;
	height: 24px;
	padding: 0;
	cursor: pointer;
	&:hover > svg > path {
		fill: red;
	}
}
*/

label {
	font-size: 16px;
	transition: all 0.2s ease-in-out;
}

.BottomNav {
	width: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	& > .BottomNavButton {
		background-color: transparent;
		border: none;
		width: 24px;
		height: 24px;
		padding: 0;
		cursor: pointer;
		& > svg > path {
			transition: all 0.2s ease-in-out;
		}
	}
}
