@import "../../styles/colours";
@import "../../styles/typography";

.avatar {
	border: none;
	font-weight: $fontWeightRegular;
	background-color: $AvatarFill;
	color: $BackgroundPaperElevation-0;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;

	&.circ {
		border-radius: 50%;
	}

	&.rounded {
		border-radius: $BorderRadius;
	}

	&.square {
		border-radius: 0;
	}

	&.large {
		width: 40px;
		height: 40px;
		font-size: $font1_25rem;
		.avatar-icon {
			width: 24px;
			height: 24px;
		}
	}

	&.big {
		width: 32px;
		height: 32px;
		font-size: $font1_25rem;
		.avatar-icon {
			width: 24px;
			height: 24px;
		}
	}

	&.medium {
		width: 24px;
		height: 24px;
		font-size: $font0_75rem;
		.avatar-icon {
			width: 20px;
			height: 20px;
		}
	}

	&.small {
		width: 18px;
		height: 18px;
		font-size: $font0_625rem;
		.avatar-icon {
			width: 12px;
			height: 12px;
		}
	}

	&.isOnline {
		position: relative;
	}
}

.clickable {
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.clickable:hover {
	scale: 1.2;
}
.avatar-icon > path {
	fill: $BackgroundPaperElevation-0;
}

.online-badge {
	right: -15%;
	bottom: -15%;
	position: absolute;
	background-color: $OnlineGreen;
	width: 8px;
	height: 8px;
	border: 2px solid white;
	border-radius: 50%;
}
