@import "../../styles/colours";
@import "../../styles/typography";

.slider-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	gap: 12px;
}

.slider-wrapper {
	width: 100%;
	max-height: fit-content;
	height: fit-content;
	min-height: fit-content;
	position: relative;
	display: flex;
	align-items: center;
}

.slider-fill {
	background-color: $PrimaryMain;
	height: 6px;
	width: 100%;
	position: absolute;
	left: 0;
	z-index: 1;
	border-radius: 3px;
}

.slider {
	appearance: none;
	width: 100%;
	background: transparent;
	z-index: 2;
	margin: 0;

	&::-webkit-slider-runnable-track {
		height: 4px;
		background: rgba(25, 118, 210, 0.38);
		border-radius: 2px;
	}

	&::-webkit-slider-thumb {
		appearance: none;
		background: $PrimaryMain;
		height: 20px;
		width: 20px;
		border-radius: 50%;
		margin-top: -8px;
	}

	&::-moz-range-track {
		height: 4px;
		background: $PrimaryMain;
		opacity: 0.38;
	}

	&::-moz-range-thumb {
		background: $PrimaryMain;
		height: 20px;
		width: 20px;
		border-radius: 50%;
	}
}

.range-label {
	color: $TextPrimary;
}

.slider-limitvalues {
	display: flex;
	justify-content: space-between;
	color: $TextSecondary;
	font-size: 14px;
	width: 100%;
}
